{
  "root": true,
  "ignorePatterns": ["node_modules/", "bin/"],
  "extends": [
    "@xylabs"
  ],
  "plugins": [
    "eslint-plugin-tsdoc"
  ],
  "rules": {
    "import/no-internal-modules": [
      "warn", {
        "allow": [

        ]
      }
    ],
    "tsdoc/syntax": "warn"
  }
}
