{
  "root": true,
  "ignorePatterns": ["node_modules/", "bin/"],
  "extends": [
    "@xylabs"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "."
      }
    }
  },
  "rules": {
    "import/no-internal-modules": [
      "warn", {
        "allow": [

        ]
      }
    ]
  }
}
